.draft_button.pause {
    position: fixed;
    right: 0;
    margin: 9px 8px 8px 8px;
}

.draft_button.resume, .draft_button.pause, .draft_button.restart {
    position: fixed;
    right: 0;
    margin: 9px 8px 8px 8px;
}

.draft_button.skip {
    position: fixed;
    right: 94px;
    margin: 9px 8px 8px 8px;
}

.draft_button.format {
    position: fixed;
    left: 0;
    margin: 9px 8px 8px 8px;
}

/* Actions */
.draft_button.begin {
    display: none;
}

.draft_button.pause {
    display: none;
}

.draft_button.resume {
    display: none;
}

.draft_button.restart {
    display: none;
}

.draft_button.skip {
    display: none;
}

.draft_button.lock {
    display: none;
}

.draft_button.format {
    display: block;
}

/* When to display the action */
.draft_button.begin.NOT_STARTED {
    display: block;
}

.draft_button.pause.IN_PROGRESS {
    display: block;
}

.draft_button.resume.PAUSED {
    display: block;
}

.draft_button.restart.COMPLETED {
    display: block;
}

.draft_button.skip.IN_PROGRESS {
    display: block;
}

.draft_button.lock.IN_PROGRESS.lock_in {
    display: block;
    margin: 0 18px 8px 18px;
}