#draft_display {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    place-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;

    height: 50px;
    background: #81888f;
    z-index: 100;
}

#draft_display.completed {
    background: #18c7bb;
    color: black;
}

#draft_display > input {
    margin: 0 16px;
    height: 20px;
}

.stage_prompt {
    display: none;
    place-content: center;
    color: white;
    width: 100vw;
}

.stage_prompt.team-1 {
    background-color: #539942;
}

.stage_prompt.team-2 {
    background-color: #398cd4; /* pick color */
}

.stage_prompt.PAUSED, .stage_prompt.IN_PROGRESS {
    display: flex;
}

.timer {
    font-size: 32px;
    font-weight: 600;
    margin: 4px 24px 0 24px;
    line-height: 44px;
}

#format {
    align-self: center;
    display: flex;
}

#format img#pick_order {
    width: 516px;
}

#rules {
    margin: 0 24px;
}

.draft_completed {
    display: none;
}

.draft_completed.COMPLETED {
    display: block;
}

.team_names {
    display: none;
}
.team_names.NOT_STARTED {
    display: flex;
    flex-flow: row wrap;
}
.team_names > div {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 8px;
}
.team_names input {
    height: 20px;
    width: 100%;
    min-width: 100px;
    max-width: 292px;
    background: #EBFAFC;
}