#draft_display {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    place-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;

    height: 50px;
    background: #81888f;
    z-index: 100;
}

#draft_display.completed {
    background: #18c7bb;
    color: black;
}

#draft_sections > input {
    margin: 0 16px;
    height: 20px;
}

#draft_sections {
    display: flex;
    flex-flow: row nowrap;
    min-height: 100vh;
}

#draft_sections.hidden {
    display: none;
}

.the_draft {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* border: 8px solid #213547; */
  padding: 48px 0;
  flex: 8 1 auto;
  width: 200px;
}

.stage_prompt {
    display: none;
    place-content: center;
    color: white;
    width: 100vw;
}

.stage_prompt.team-1 {
    background-color: #539942;
}

.stage_prompt.team-2 {
    background-color: #398cd4; /* pick color */
}

.stage_prompt.PAUSED, .stage_prompt.IN_PROGRESS {
    display: flex;
}

.timer {
    font-size: 32px;
    font-weight: 600;
    margin: 4px 24px 0 24px;
    line-height: 44px;
}

#format {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
}

#format {
    flex: 0 1 auto;
}

#format.hidden {
    display: none;
}

#format img#pick_order {
    width: 516px;
    flex: 0 1 auto;
}

#rules {
    margin: 0 24px;
}

.draft_completed {
    display: none;
}

.draft_completed.COMPLETED {
    display: block;
}

.team_names.selection {
    display: none;
}
.team_names.NOT_STARTED .selectedname {
    display: none;
}
.team_names.NOT_STARTED {
    display: flex;
    flex-flow: row wrap;
}
.team_names > div {
    display: flex;
    flex-flow: column nowrap;
    margin: 8px;
    flex: 1 1 auto;
    align-items: center;
}
.team_names.NOT_STARTED > div {
    align-items: unset;
}
.team_names input {
    height: 20px;
    min-width: 100px;
    max-width: 292px;
    background: #EBFAFC;
    margin-top: 4px;
}

.the_draft > .pool {
    justify-content: center;
}

/* wonky stuff. Won't be needed if the draft_pool is no longer used for the end screen display (if team picks display is used instead) */
.the_draft > .civ_pool.IN_PROGRESS:not(.CIVILIZATION), .the_draft > .leader_pool.IN_PROGRESS:not(.LEADER), .the_draft > .memento_pool.IN_PROGRESS:not(.MEMENTO),
.the_draft > .civ_pool.PAUSED:not(.CIVILIZATION), .the_draft > .leader_pool.PAUSED:not(.LEADER), .the_draft > .memento_pool.PAUSED:not(.MEMENTO) {
    display: none;
}