#draft_display {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    place-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;

    height: 50px;
    background: #81888f;
}

#draft_display.completed {
    background: #18c7bb;
    color: black;
}

#draft_display > input {
    margin: 0 16px;
    height: 20px;
}

.stage_prompt {
    display: flex;
    place-content: center;
    color: white;
    width: 100vw;
}

.stage_prompt.team-1 {
    background-color: #539942;
}

.stage_prompt.team-2 {
    background-color: #398cd4; /* pick color */
}

.timer {
    font-size: 32px;
    font-weight: 600;
    margin: 4px 24px 0 24px;
    line-height: 44px;
}

.draft_button.pause {
    position: fixed;
    right: 0;
    margin: 9px 8px 8px 8px;
}

.draft_button.resume, .draft_button.pause, .draft_button.restart {
    position: fixed;
    right: 0;
    margin: 9px 8px 8px 8px;
}

.skip_button {
    position: fixed;
    right: 94px;
    margin: 9px 8px 8px 8px;
}

.format_button {
    position: fixed;
    left: 0;
    margin: 9px 8px 8px 8px;
}

#format {
    align-self: center;
    display: flex;
}

#format img#pick_order {
    width: 516px;
}

#rules {
    margin: 0 24px;
}