.draft_button.pause {
    position: fixed;
    right: 0;
    margin: 9px 8px 8px 8px;
}

.draft_button.resume, .draft_button.pause, .draft_button.restart {
    position: fixed;
    right: 0;
    margin: 9px 8px 8px 8px;
}

.draft_button.skip {
    position: fixed;
    right: 94px;
    margin: 9px 8px 8px 8px;
}

.draft_button.format {
    position: fixed;
    left: 0;
    margin: 9px 8px 8px 8px;
}

/* Actions */
.draft_button.begin {
    display: none;
}

.draft_button.pause {
    display: none;
}

.draft_button.resume {
    display: none;
}

.draft_button.restart {
    display: none;
}

.draft_button.skip {
    display: none;
}

.draft_button.lock {
    visibility: hidden;
}

.draft_button.lock.NOT_STARTED {
    display: none;
}

.draft_button.lock {
    /* display: none; */
    /* filter: grayscale(1);
    cursor: not-allowed; */
    display: block;
    margin: 0 18px 8px 18px;
    width: 200px;
    align-self: flex-end;
}

.draft_button.format {
    display: block;
}

/* When to display the action */
.draft_button.begin.NOT_STARTED {
    display: block;
    margin: 0 18px 8px 18px;
    width: 200px;
    align-self: center;
    flex: 0 1 auto;
}

.draft_button.pause.IN_PROGRESS {
    display: block;
}

.draft_button.resume.PAUSED {
    display: block;
}

.draft_button.restart.COMPLETED {
    display: block;
}

.draft_button.skip.IN_PROGRESS {
    display: block;
}

.draft_button.lock.lock_in {
    display: block;
    visibility: visible;
    margin: 0 18px 8px 18px;
    width: 200px;
}

.draft_button.lock.lock_in.team-1 {
    align-self: flex-start;
    background: #539942;
    color: white;
}

.draft_button.lock.lock_in.team-2 {
    align-self: flex-end;
    background-color: #398cd4;
    color: white;
}