#picks {
    display: flex;
    margin-top: auto;
    place-items: flex-end;
}

.picks_pool #team1picks img:not(.displayable), .picks_pool #team2picks img:not(.displayable) {
    display: none;
}

.picks_pool {
    flex: 0 0 232px;
    border: 5px solid #213547;
}

.picks_pool.team1 {
    border: 8px solid #539942;
}

.picks_pool.team2 {
    border: 8px solid #398cd4;
}