#civ_pool {
    display: flex;
    flex-flow: row wrap;
}

#civ_pool > img {
    width: 100px;
    height: 100px;
    margin: 8px;
}

#civ_pool > img:hover {
    border: 6px solid gray;
    box-sizing: border-box;
}

#civ_pool > img.pickable:hover {
    cursor: pointer;
}

#civ_pool.team-1 > img.pickable:hover {
    border-color: #539942;
}

#civ_pool.team-2 > img.pickable:hover {
    border-color: #398cd4; /* pick color */
}

#civ_pool.banning > img.pickable:hover {
    border-color: #8c2942; /* ban color */
}

#civ_pool > img.banned {
    cursor: not-allowed;
    border: none;
    border-bottom: 16px solid #8c2942;
    box-sizing: content-box;
}

#civ_pool > img.banned.housebanned {
    border-color: #81888f;
}

#civ_pool > img.team1pick {
    cursor: not-allowed;
    border: none;
    border-bottom: 16px solid #539942;
    box-sizing: content-box;
}

#civ_pool > img.team2pick {
    cursor: not-allowed;
    border: none;
    border-bottom: 16px solid #398cd4;
    box-sizing: content-box;
}