#civ_pool {
    display: flex;
    flex-flow: row wrap;
}

#civ_pool > img {
    width: 100px;
    height: 100px;
}

#civ_pool > img:hover {
    cursor: pointer;
    border: 5px solid gray;
    box-sizing: border-box;
}

#civ_pool.team-1 > img:hover {
    border-color: #539942;
}

#civ_pool.team-2 > img:hover {
    border-color: #398cd4; /* pick color */
}

#civ_pool.banning > img:hover {
    border-color: #8c2942; /* ban color */
}

#civ_pool.banned > img {
    border-color: #8c2942; /* ban color */
}