#draft_display {
    display: flex;
    place-content: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.stage_prompt {
    display: flex;
    place-content: center;
    color: white;
    height: 100px;
    width: 100vw;
}

.stage_prompt > p {
    padding: 16px;
}

.stage_prompt.team-1 {
    background-color: #5cbf8f; /* pick color */
}

.stage_prompt.team-2 {
    background-color: #398cd4; /* pick color */
}