#leader_pool {
    display: flex;
    flex-flow: row wrap;
}

#leader_pool > img {
    width: 100px;
    height: 100px;
}

#leader_pool > img:hover {
    background-color: #81888f;
}

#leader_pool > img.pickable:hover {
    cursor: pointer;
}

#leader_pool.team-1 > img.pickable:hover {
    background-color: #539942;
}

#leader_pool.team-2 > img.pickable:hover {
    background-color: #398cd4;
}

#leader_pool.banning > img.pickable:hover {
    background-color: #8c2942; /* ban color */
}

#leader_pool > img.banned {
    background-color: #8c2942; /* ban color */
    cursor: not-allowed;
}

#leader_pool > img.banned.housebanned {
    background-color: #81888f; /* ban color */
}

#leader_pool > img.team1pick {
    background-color: #539942; /* ban color */
    cursor: not-allowed;
}

#leader_pool > img.team2pick {
    background-color: #398cd4; /* ban color */
    cursor: not-allowed;
}

#leader_pool > img.proposed {
    cursor: default;
}