#leader_pool {
    display: flex;
}

#leader_pool > img {
    width: 100px;
    flex: 1 1 auto;
    min-width: 100px;
    max-width: 200px;
}

#leader_pool > img:hover {
    cursor: pointer;
}

#leader_pool.banning > img:hover {
    background-color: #8c2942; /* ban color */
}

#leader_pool.team-1 > img:hover {
    background-color: #5cbf8f; /* pick color */
}

#leader_pool.team-2 > img:hover {
    background-color: #398cd4; /* pick color */
}