#leader_pool {
    display: flex;
    flex-flow: row wrap;
}

#leader_pool > img {
    width: 100px;
    height: 100px;
}

#leader_pool > img:hover {
    cursor: pointer;
}

#leader_pool.team-1 > img:hover {
    background-color: #539942;
}

#leader_pool.team-2 > img:hover {
    background-color: #398cd4; /* pick color */
}

#leader_pool.banning > img:hover {
    background-color: #8c2942; /* ban color */
}